.Adminback{
  background-image:url("https://media.istockphoto.com/id/1083590362/photo/female-photographer-at-glacier-lagoon-sunset.jpg?b=1&s=612x612&w=0&k=20&c=bJjxt1xeAvWbCOfdtH3yvdug2e_po_PV0oy1cBScY48=");
   background-size:cover;
  background-attachment: fixed;
  height:100vh;

   
}
.logout
{
position:absolute;
left:45%;
font-size:xx-large;
}
* .buttonn{
position:absolute;
left:45%;
top:130%;
color:white;
background-color: rgba(2, 2, 8, 0);
} 
.dashboard-container {
  background-color: rgba(5, 5, 18, 0.351);
  color: white;
  width: 170px;
  height:100%;
  position: fixed;
  top: 9%;
}

header {
  background-color:rgba(1, 1, 8, 0.618);
  padding: 20px;
  /* text-align: center; */
}

.sidebar-content:hover {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .widget {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
} */

.widget-title1 a{
  color: white;
  position:absolute;
  left:2%;
  top:15%;
  text-decoration: none;
  font-weight: bold;
}
.widget-title2 a{
  color: white;
  position:absolute;
  left:3%;
  top:25%;
  text-decoration: none;
  font-weight: bold;

  
}
.widget-title3 a{
  color: white;
  position:absolute;
  left:3%;
  top:34%;
  text-decoration: none;
  font-weight: bold;
}
.widget-title4 a{
  color: white;
  position:absolute;
  left:3%;
  top:43%;
  text-decoration: none;
  font-weight: bold;
}

.widget-title5 a{
  color: white;
  position:absolute;
  left:3%;
  top:52%;
  text-decoration: none;
  font-weight: bold;
}