* {
    margin: 0;
    box-sizing: border-box;
    outline-color: #343b5a6c;
    font-family: SF Regular;
   
  }
.login{
    position: fixed;
    background-size: 100vw 100vh;
    min-height: 10vh;
    display: grid;
    place-items: left;
    margin-top: 5%;
    margin-left: 33%;
    
  }
  .form {
    width: 400px;
    padding: 32px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 2px 4px 8px #07070740;
    text-align: center;
    opacity: 70%;
  }
  
 
  #box{
    width: 500px;
    padding: 32px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 2px 4px 8px #0e101240;
    text-align: center;
    

  }
 
  
  p {
    font-size: 16px;
    color: #0a0b0c;
  }
  h2{
      color:#070a12
  }
  
  
  .header {
    margin-bottom: 48px;
  }
  
  .header h1 {
    font-weight: bolder;
    font-size: 28px;
    color: #15215c;
  }
  
  .input {
    position: relative;
    margin-bottom: 24px;
  }
  
  .input input {
    width: 100%;
    border: none;
    padding: 8px 40px;
    border-radius: 4px;
    background-color: #f3f4f6;
    color: #0a0c0e;
    font-size: 16px;
  }
  .input i {
    top: 50%;
    width: 36px;
    position: absolute;
    transform: translateY(-50%);
    color: #111113;
    font-size: 16px;
  }
  #actions{
    width:80px;
    color: #151e5c;
    position : relative ;
      font-size : 14px ; 
      font-weight : bold ;
      
      transition : all .3s ease ;
  }
  .signup-btn {
    width: 100%;
    border: none;
    padding: 8px 0;
    margin: 24px 0;
    border-radius: 4px;
    background-color:#040915;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
  }
  h1{
      color:#090b13;
  }
  